// Modify a color in existing theme
:root[theme='dark'] {
    --color-fill-tile-symbol: #FF4136;
}

// Add a new theme by specifying all colors with the theme value
:root[theme='christmas'] {
    --color-fill-tile-symbol: #FF4136,
    --color-stroke-tile-symbol: #36FF53
}