// Modify a color in existing theme
$theme-dark: (
    color-fill-tile-symbol: #ff4136
);

// Extend $themes with custom christmas theme
$themes: (
    christmas: (
        color-fill-tile-symbol: #ff4136,
        color-stroke-tile-symbol: #36FF53
    )    
);