/** 
 * Common Azure IoT Colors
 */
/** 
 * Default Dark Theme Colors
 */
/** 
 * Color Palette
 */
/** 
 * Default Light Theme Colors
 */
/** 
 * Color Palette
 */
/** 
 * Mixins
 */
.symbol {
  width: 76px;
  height: 76px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .theme-dark .symbol {
    fill: #ff4136;
    stroke: #FFFFFF; }
  .theme-light .symbol {
    fill: #212121;
    stroke: #212121; }
  .theme-christmas .symbol {
    fill: #ff4136;
    stroke: #36FF53; }
