// import default colors
@import "../src/colors";

// import color overrides 
// Note: overrides must be imported after the default colors
@import "color.overrides";

$icon-size: 76px;

.symbol {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-fill-tile-symbol);
    stroke: var(--color-stroke-tile-symbol);
}