:root,
:root[theme="light"] {
  /* Content background */
  --color-content-background-primary: #ffffff;
  --color-content-background-secondary: #faf9f8;

  /* State */
  --color-state-hover: #f3f2f1;
  --color-state-selected: #dadada;
  --color-state-selected-hover: #c8c8c8;
  --color-state-disabled: #f3f2f1;

  /* Accent */
  --color-accent: #136bfb;
  --color-accent-hover: #0065d9;
  --color-accent-selected: #0053b3;
  --color-accent-selected-hover: #00418c;
  --color-accent-foreground: #ffffff;

  /* Status */
  --color-status-success: #3bb44a;
  --color-status-success-foreground: #323130;
  --color-status-informational: #879092;
  --color-status-informational-foreground: #323130;
  --color-status-warning: #d58e00;
  --color-status-warning-foreground: #323130;
  --color-status-danger: #a50606;
  --color-status-danger-foreground: #ffffff;

  /* Foreground */
  --color-foreground-default: #323130;
  --color-foreground-complementary: #ffffff;
  --color-foreground-inactive: #666666;
  --color-foreground-disabled: #a6a6a6;
  --color-foreground-secondary: #dadada;
  --color-foreground-tertiary: #f3f2f1;

  /* Shimmer */
  --color-background-shimmer: #dadada;
  --color-foreground-shimmer: #faf9f8;

  /* Masthead */
  --color-masthead-background: #3c3c41;
  --color-masthead-foreground: #ffffff;
  --color-masthead-button-hover: #666666;
  --color-search-background: var(--color-light-transparent-third);
  --color-search-background-hover: #ffffff;
  --color-search-text-hover: #000000;
  --color-search-text-placeholder: #666666;

  /* Main nav */
  --color-main-nav-background: #f3f2f1;
  --color-main-nav-background-hover: #dadada;
  --color-main-nav-background-selected: #ffffff;
  --color-main-nav-foreground-primary: #323130;
  --color-main-nav-foreground-secondary: #dadada;

  /* Alert */
  --color-global-background-success: #dff6dd;
  --color-global-foreground-success: #323130;
  --color-global-background-informational: #cef1ff;
  --color-global-foreground-informational: #00418c;
  --color-global-background-warning: #fff4ce;
  --color-global-foreground-warning: #323130;
  --color-global-background-error: #fde7e9;
  --color-global-foreground-error: #a50606;

  /* Data */
  /* 
   * @todo uncomment this when we update the color picker for fluent support
   * --data-color-1: #118dff;
   * --data-color-2: #3a4bc6;
   * --data-color-3: #e66c37;
   * --data-color-4: #c83d95;
   * --data-color-5: #009eb3;
   * --data-color-6: #750985;
   * --data-color-7: #835dd0;
   * --data-color-8: #e04854;
   * --data-color-9: #bd8608;
   * --data-color-10: #18a03c;
   * --data-color-empty: #868886;
   */
  --data-color-1: #01b8aa;
  --data-color-2: #99e3dd;
  --data-color-3: #67d4cc;
  --data-color-4: #34c6bb;
  --data-color-5: #018a80;
  --data-color-6: #015c55;
  --data-color-7: #374649;
  --data-color-8: #afb5b6;
  --data-color-9: #879092;
  --data-color-10: #5f6b6d;
  --data-color-11: #293537;
  --data-color-12: #1c2325;
  --data-color-13: #fd625e;
  --data-color-14: #fec0bf;
  --data-color-15: #fea19e;
  --data-color-16: #fd817e;
  --data-color-17: #be4a47;
  --data-color-18: #7f312f;
  --data-color-19: #f2c80f;
  --data-color-20: #fae99f;
  --data-color-21: #f7de6f;
  --data-color-22: #f5d33f;
  --data-color-23: #b6960b;
  --data-color-24: #796408;
  --data-color-25: #8ad4eb;
  --data-color-26: #d0eef7;
  --data-color-27: #b9e5f3;
  --data-color-28: #a1ddef;
  --data-color-29: #689fb0;
  --data-color-30: #456a76;
  --data-color-31: #fe9666;
  --data-color-32: #db220f;
  --data-color-33: #ffd5c2;
  --data-color-34: #fec0a3;
  --data-color-35: #bf714d;
  --data-color-36: #7f4b33;
  --data-color-37: #a66999;
  --data-color-38: #dfc5d9;
  --data-color-39: #caa5c2;
  --data-color-40: #b887ad;
  --data-color-41: #7d4f73;
  --data-color-42: #53354d;
}
