/**
 * Default Light Theme Colors
 */

:root[theme='fluent-light'] {
    // Shell
    --color-bg-navbar: var(--color-grey-20);
    --color-bg-navbar-hover: var(--color-grey-30);
    --color-bg-navbar-selected: var(--color-white);
    --color-bg-navbar-selected-hover: var(--color-grey-30);
    --color-bg-header: var(--color-white);
    --color-bg-header-hover: var(--color-grey-20);
    --color-bg-masthead: var(--color-grey-50);
    --color-bg-masthead-hover: var(--color-text-20);
    --color-bg-masthead-active: var(--color-grey-30);
    --color-outline-masthead: var(--color-white);
    --color-border-navbar-separator: var(--color-grey-30);
    --color-border-masthead-focus: var(--color-white);
    --color-border-navbar-focus: var(--color-blue-10);
    --color-border-navbar-selected: var(--color-blue-10);

    // Surfaces
    --color-bg-panel: var(--color-grey-10);
    --color-bg-container: var(--color-white);
    --color-bg-container-panel: var(--color-white);
    --color-border-container-panel: var(--color-grey-40);
    --color-bg-cmdbar: var(--color-white);
    --color-bg-titlebar: var(--color-grey-30);
    --color-border-panel: var(--color-grey-40);
    --color-border-grid: var(--color-grey-40);
    --shadow-container-panel: 0 25.6px 57.6px 0 var(--color-black-transparent-tenth);
    --shadow-popup-panel: -3px 3px 10px -3px var(--color-black-transparent-primary);
    --shadow-balloon: 0 8px 10px 0 var(--color-black-transparent-tenth);

    // Controls
    --color-bg-blastshield: var(--color-black-transparent-primary);
    --color-bg-balloon: var(--color-white);
    --color-bg-form: var(--color-white);
    --color-bg-table: var(--color-white);
    --color-bg-searchbar-active: var(--color-white);
    --color-bg-searchbar-rest: var(--color-white-transparent-third);
    --color-bg-searchbar-focus: var(--color-white);
    --color-icon-searchbar-btn: var(--color-white);
    --color-bg-thumbnail: var(--color-text-20);
    --color-text-searchbar: var(--color-black);
    --color-icon-thumbnail: var(--color-white);
    --color-icon-tile: var(--color-grey-40);

    // Interactions
    --color-bg-hover: var(--color-grey-20);
    --color-bg-selected: var(--color-grey-30);

    // All Tiles
    --color-border-tile: var(--color-grey-30); // 0.5px border
    --color-border-tile-hover: var(--color-blue-10);

    // Gallery Tiles
    --color-bg-gallery-tile: var(--color-white);
    --color-bg-gallery-tile-default: var(--color-white);
    --color-bg-gallery-tile-blue: var(--color-blue-40);
    --color-bg-gallery-tile-banner: var(--color-black);
    --color-text-gallery-tile-banner: var(--color-white);

    // Dashboard Tiles
    --color-bg-dashboard: var(--color-grey-10);
    --color-tile-symbol: var(--color-text-10);
    --color-stroke-tile-symbol: var(--color-text-10);

    // Input Fields
    --color-bg-input-rest: var(--color-white);
    --color-bg-input-hover: var(--color-white);
    --color-bg-input-selected: var(--color-white);
    --color-bg-input-disabled: var(--color-grey-20);

    --color-border-input-rest: var(--color-grey-40);
    --color-border-input-hover: var(--color-text-20);
    --color-border-input-selected: var(--color-blue-10);
    --color-border-input-error: var(--color-status-30);

    --color-text-regular: var(--color-text-10);
    --color-text-placeholder: var(--color-text-20);

    // Dropdowns
    --color-dropdown-rest: var(--color-white);
    --color-dropdown-hover: var(--color-grey-20);
    --color-dropdown-focus: var(--color-white);
    --color-dropdown-pressed: var(--color-grey-30);
    --color-dropdown-disabled: var(--color-white);
    --color-border-dropdown-rest: var(--color-grey-40);
    --color-border-dropdown-focus: var(--color-text-20);
    --color-text-dropdown-disabled: var(--color-text-30);

    // Radio button
    --color-bg-radio-rest: var(--color-white);
    --color-bg-radio-hover: var(--color-white);
    --color-bg-radio-selected: var(--color-white);
    --color-bg-radio-focused: var(--color-white);
    --color-bg-radio-disabled: var(--color-white);
    --color-border-radio-rest: var(--color-text-10);
    --color-border-radio-hover: var(--color-text-10);
    --color-border-radio-selected: var(--color-text-10);
    --color-border-radio-focused: var(--color-text-10);
    --color-border-radio-disabled: var(--color-text-30);
    --color-center-radio-hover: var(--color-text-10); //On hover center will reduce to 2px circle
    --color-center-radio-selected: var(--color-blue-20); //On selected center will return to normal size
    --color-center-radio-disabled: var(--color-grey-40);

    // Toggle
    --color-bg-toggle-on-rest: var(--color-blue-10);
    --color-bg-toggle-off-rest: var(--color-white);
    --color-bg-toggle-on-hover: var(--color-blue-20);
    --color-bg-toggle-off-hover: var(--color-white);
    --color-bg-toggle-on-focus: var(--color-blue-10);
    --color-bg-toggle-off-focus: var(--color-white);
    --color-bg-toggle-on-disabled: var(--color-grey-40);
    --color-bg-toggle-off-disabled: var(--color-white);
    --color-border-toggle-on-rest: var(--color-blue-10);
    --color-border-toggle-off-rest: var(--color-text-20);
    --color-border-toggle-on-hover: var(--color-blue-20);
    --color-border-toggle-off-hover: var(--color-text-10);
    --color-border-toggle-on-focus: var(--color-blue-10);
    --color-border-toggle-off-focus: var(--color-text-10);
    --color-border-toggle-on-disabled: var(--color-grey-40);
    --color-border-toggle-off-disabled: var(--color-text-10);
    --color-circle-toggle-on-rest: var(--color-white);
    --color-circle-toggle-off-rest: var(--color-text-20);
    --color-circle-toggle-on-hover: var(--color-white); //Size circle reduce to have
    --color-circle-toggle-off-hover: var(--color-black);
    --color-circle-toggle-on-focus: var(--color-white);
    --color-circle-toggle-off-focus: var(--color-text-20);
    --color-circle-toggle-on-disabled: var(--color-grey-20);
    --color-circle-toggle-off-disabled: var(--color-grey-40);

    // Checkbox
    --color-checkmark-checkbox: var(--color-white);
    --color-border-checkbox-hover: var(--color-text-10);
    --color-bg-checkbox-selected: var(--color-blue-10);

    // General Borders
    --color-border-rest: var(--color-grey-40);
    --color-border-hover: var(--color-text-10);
    --color-border-focus: var(--color-blue-10);
    --color-border-selected: var(--color-blue-10);
    --color-border-disabled: var(--color-grey-40);
    --color-border-error: var(--color-status-30);
    --color-border-controls: var(--color-grey-40);
    --color-outline: var(--color-blue-10);

    // General Texts
    --color-text-rest: var(--color-text-10);
    --color-text-chevron: var(--color-text-10);
    --color-text-error: var(--color-status-30);
    --color-text-required: var(--color-status-30);
    --color-text-visited: var(--color-blue-40);
    --color-text-nodata: var(--color-text-20);
    --color-text-disabled: var(--color-text-20);
    --color-text-masthead: var(--color-white);
    --color-text-navbar: var(--color-text-10);
    --color-text-active: var(--color-white);
    --color-text-action-trigger: var(--color-blue-10);

    // Buttons
    --color-bg-btn-standard-rest: var(--color-white);
    --color-bg-btn-standard-hover: var(--color-grey-20);
    --color-bg-btn-standard-focus: var(--color-white);
    --color-bg-btn-standard-selected: var(--color-grey-30);
    --color-bg-btn-standard-disabled: var(--color-grey-20);
    --color-text-btn-standard: var(--color-black);
    --color-border-btn-standard: var(--color-text-20);

    --color-bg-btn-primary-rest: var(--color-blue-10);
    --color-bg-btn-primary-hover: var(--color-blue-20);
    --color-bg-btn-primary-focus: var(--color-blue-10);
    --color-bg-btn-primary-selected: var(--color-blue-30);
    --color-bg-btn-primary-disabled: var(--color-grey-20);
    --color-outline-btn-primary-focus: var(--color-white);
    --color-text-btn-primary: var(--color-white);
    --color-border-btn-primary: var(--color-blue-10);

    --color-bg-btn-negative-rest: var(--color-status-30);
    --color-bg-btn-negative-hover: var(--color-status-30);
    --color-bg-btn-negative-focus: var(--color-status-30);
    --color-bg-btn-negative-selected: var(--color-status-30);
    --color-bg-btn-negative-disabled: var(--color-grey-20);
    --color-outline-btn-negative-focus: var(--color-white);
    --color-text-btn-negative: var(--color-white);
    --color-border-btn-negative: var(--color-status-30);

    // Hyperlinks
    --color-hyperlink-rest: var(--color-blue-20);
    --color-hyperlink-hover: var(--color-blue-30);
    --color-hyperlink-focus: var(--color-blue-10);
    --color-hyperlink-disabled: var(--color-text-30);

    // Loading
    --color-bg-loader-panel: var(--color-grey-20);
    --color-bg-loader-spinner: var(--color-blue-10);
    --color-border-loader-global-segment: var(--color-blue-10);
    --color-border-loader-global-track: var(--color-grey-40);

    // Upload
    --color-bg-upload: var(--color-grey-20);
    --color-border-upload: var(--color-grey-30);

    // Tabs
    --color-pivot-rest: var(--color-text-20);
    --color-pivot-hover: var(--color-text-10);
    --color-pivot-focus: var(--color-text-10);
    --color-pivot-press: var(--color-black);
    --color-pivot-selected: var(--color-text-10);
    --color-border-pivot: var(--color-blue-10);
    --color-text-pivot-rest: var(--color-text-20);
    --color-text-pivot-selected: var(--color-text-10);

    // Charts
    --color-chart-xy-lines: var(--color-grey-30);
    --color-chart-gap-stroke: var(--color-grey-30);

    // Alerts
    --color-bg-alert-info: var(--color-global-30);
    --color-bg-alert-info-close-hover:  transparent;
    --color-text-alert-info: var(--color-blue-40);

    --color-bg-alert-warning: var(--color-global-10);
    --color-bg-alert-warning-close-hover: transparent;
    --color-text-alert-warning: var(--color-text-10);

    --color-bg-alert-error: var(--color-global-40);
    --color-bg-alert-error-close-hover: transparent;
    --color-text-alert-error: var(--color-status-30);

    --color-bg-alert-success: var(--color-global-20);
    --color-bg-alert-success-close-hover: transparent;
    --color-text-alert-success: var(--color-status-40);

    // Color picker
    --color-border-colorpicker-in: var(--color-white);
    --color-border-colorpicker-out: var(--color-text-20);

    // Calendar
    --color-bg-calendar-btn-current: var(--color-blue-10);
    --color-bg-calendar-btn-hover: var(--color-grey-20);
    --color-bg-calendar-btn-focus: transparent;
    --color-border-calendar-btn-focus: var(--color-text-20);

    // Data Colors
    // @todo uncomment this when we update the color picker for fluent support
    // --data-color-1: var(--LT-Azul);
    // --data-color-2: var(--LT-Atlantic);
    // --data-color-3: var(--LT-Mango);
    // --data-color-4: var(--LT-Blush);
    // --data-color-5: var(--LT-Pacific);
    // --data-color-6: var(--LT-Grape);
    // --data-color-7: var(--LT-Lilac);
    // --data-color-8: var(--LT-Scarlet);
    // --data-color-9: var(--LT-Sahara);
    // --data-color-10: var(--LT-Leaf);
    // --data-color-11: var(--LT-Empty-data);
    --data-color-1: var(--color-green-1);
    --data-color-2: var(--color-green-7);
    --data-color-3: var(--color-green-8);
    --data-color-4: var(--color-green-9);
    --data-color-5: var(--color-green-10);
    --data-color-6: var(--color-green-11);
    --data-color-7: var(--color-lightgrey-7);
    --data-color-8: var(--color-lightgrey-8);
    --data-color-9: var(--color-lightgrey-9);
    --data-color-10: var(--color-lightgrey-10);
    --data-color-11: var(--color-lightgrey-11);
    --data-color-12: var(--color-lightgrey-12);
    --data-color-13: var(--color-red-1);
    --data-color-14: var(--color-red-7);
    --data-color-15: var(--color-red-8);
    --data-color-16: var(--color-red-9);
    --data-color-17: var(--color-red-10);
    --data-color-18: var(--color-red-11);
    --data-color-19: var(--color-yellow-1);
    --data-color-20: var(--color-yellow-7);
    --data-color-21: var(--color-yellow-8);
    --data-color-22: var(--color-yellow-9);
    --data-color-23: var(--color-yellow-10);
    --data-color-24: var(--color-yellow-11);
    --data-color-25: var(--color-lightblue-1);
    --data-color-26: var(--color-lightblue-7);
    --data-color-27: var(--color-lightblue-8);
    --data-color-28: var(--color-lightblue-9);
    --data-color-29: var(--color-lightblue-10);
    --data-color-30: var(--color-lightblue-11);
    --data-color-31: var(--color-orange-1);
    --data-color-32: var(--color-orange-7);
    --data-color-33: var(--color-orange-8);
    --data-color-34: var(--color-orange-9);
    --data-color-35: var(--color-orange-10);
    --data-color-36: var(--color-orange-11);
    --data-color-37: var(--color-purple-1);
    --data-color-38: var(--color-purple-7);
    --data-color-39: var(--color-purple-8);
    --data-color-40: var(--color-purple-9);
    --data-color-41: var(--color-purple-10);
    --data-color-42: var(--color-purple-11);
}