/** 
 * Default light theme colors
 */

@import "../color.palette";

// Background colors
$color-bg-block: $color-white !default;
$color-bg-btn-light: $color-neutral-light !default;
$color-bg-btn-primary-hover: $color-theme-dark !default;
$color-bg-btn-primary-pressed: $color-theme-dark !default;
$color-bg-btn-secondary-default: $color-grey-2 !default;
$color-bg-btn-secondary-hover: $color-grey-4 !default;
$color-bg-btn-secondary-pressed: $color-grey-4 !default;
$color-bg-chart: $color-white !default;
$color-bg-configure-pane-container: $color-neutral-lighter !default;
$color-bg-content: $color-neutral-lighter !default;
$color-bg-dashboard-actionbar: $color-neutral-secondary-alt-4 !default;
$color-bg-default: $color-white !default;
$color-bg-disabled: $color-neutral-tertiary-alt-2 !default;
$color-bg-field-loading: $color-neutral-light !default;
$color-bg-form: $color-white !default;
$color-bg-gallery-card-banner: $color-neutral-primary !default;
$color-bg-gallery-card-blue: $color-theme-primary !default;
$color-bg-gallery-card-red: $color-red-5 !default;
$color-bg-gallery-card-solid: $color-neutral-tertiary-2 !default;
$color-bg-gallery-card-yellow: $color-yellow-5 !default;
$color-bg-gallery-card: $color-neutral-light !default;
$color-bg-hover: $color-theme-lighter !default;
$color-bg-management-list: $color-white !default;
$color-bg-measurement: $color-white !default;
$color-bg-navbar: $color-neutral-primary !default;
$color-bg-overlay: $color-half-opacity-black !default;
$color-bg-pane: $color-neutral-light !default;
$color-bg-panel: $color-white !default;
$color-bg-react-grid-item: $color-neutral-tertiary-alt !default;
$color-bg-searchbar: $color-neutral-lighter-alt !default;
$color-bg-select-default: $color-neutral-light !default;
$color-bg-selected-hover: $color-theme-dark !default;
$color-bg-separator: $color-neutral-light !default;
$color-bg-tabbed-pane-small: $color-neutral-light !default;
$color-bg-table-status-tick: $color-neutral-tertiary-alt-2 !default;
$color-bg-tile: $color-white !default;
$color-bg-upload: $color-neutral-tertiary-2 !default;

// Border color
$color-border-active: $color-neutral-primary !default;
$color-border-default: $color-neutral-tertiary-alt !default;
$color-border-disabled: $color-neutral-tertiary-alt-2 !default;
$color-border-gallery-card-default: $color-neutral-tertiary !default;
$color-border-gallery-card-hover: $color-neutral-primary !default;
$color-border-inactive: $color-neutral-tertiary-alt !default;
$color-border-searchbox: $color-neutral-lighter !default;
$color-border-section-separator: $color-neutral-tertiary-alt-2 !default;
$color-border-selected-disabled: $color-neutral-secondary-alt-5 !default;

// Text color
$color-text-cancel: $color-neutral-secondary-alt !default;
$color-text-default: $color-black !default;
$color-text-disabled: $color-grey-1 !default;
$color-text-gallery-card-content: $color-neutral-secondary-alt-2 !default;
$color-text-gallery-card-header: $color-neutral-primary !default;
$color-text-inactive: $color-neutral-secondary-alt !default;
$color-text-neutral-primary-alt-2: $color-neutral-primary-alt-2 !default;
$color-text-neutral-primary: $color-neutral-primary !default;
$color-text-neutral-secondary-alt-3: $color-neutral-secondary-alt-3 !default;
$color-text-neutral-secondary-alt: $color-neutral-secondary-alt !default;
$color-text-neutral-tertiary: $color-neutral-tertiary !default;
$color-text-select-option-disabled: $color-grey-1 !default;

// Miscellaneous color
$color-chart-ticks: $color-neutral-secondary-alt-4 !default;
$color-chart-multi-state-pattern: $color-neutral-tertiary-alt-2 !default;
$color-header-accent: $color-theme-primary !default;
$color-header: $color-neutral-tertiary-alt-2 !default;
$color-item-active: $color-theme-light !default;
$color-item-hover: $color-theme-lighter !default;
$color-layout-divider: $color-neutral-tertiary-alt-2 !default;
$color-link-default: $color-blue-2 !default;
$color-link-hover: $color-blue-1 !default;
$color-loading: $color-neutral-secondary-alt-3 !default;
$color-outline-default: $color-neutral-tertiary-alt-2 !default;
$color-outline-focus: $color-neutral-primary !default;
$color-picker-border-inner: $color-yellow-1 !default;
$color-picker-border-outer: $color-red-2 !default;
$color-shadow-neutral-tertiary-alt: $color-neutral-tertiary-alt-2 !default;
$color-status-reported-error: $color-red !default;
$color-status-reported-success: $color-green !default;
$color-status-syncing: $color-yellow-2 !default;
$color-stroke-default: $color-neutral-tertiary-alt !default;

// Data colors
$data-color-1: #01B8AA !default;
$data-color-2: #99E3DD !default;
$data-color-3: #67D4CC !default;
$data-color-4: #34C6BB !default;
$data-color-5: #018A80 !default;
$data-color-6: #015C55 !default;
$data-color-7: #374649 !default;
$data-color-8: #AFB5B6 !default;
$data-color-9: #879092 !default;
$data-color-10: #5F6B6D !default;
$data-color-11: #293537 !default;
$data-color-12: #1C2325 !default;
$data-color-13: #FD625E !default;
$data-color-14: #FEC0BF !default;
$data-color-15: #FEA19E !default;
$data-color-16: #FD817E !default;
$data-color-17: #BE4A47 !default;
$data-color-18: #7F312F !default;
$data-color-19: #F2C80F !default;
$data-color-20: #FAE99F !default;
$data-color-21: #F7DE6F !default;
$data-color-22: #F5D33F !default;
$data-color-23: #B6960B !default;
$data-color-24: #796408 !default;
$data-color-25: #8AD4EB !default;
$data-color-26: #D0EEF7 !default;
$data-color-27: #B9E5F3 !default;
$data-color-28: #A1DDEF !default;
$data-color-29: #689FB0 !default;
$data-color-30: #456A76 !default;
$data-color-31: #FE9666 !default;
$data-color-32: #FFD5C2 !default;
$data-color-33: #FEC0A3 !default;
$data-color-34: #FEAB85 !default;
$data-color-35: #BF714D !default;
$data-color-36: #7F4B33 !default;
$data-color-37: #A66999 !default;
$data-color-38: #DBC3D6 !default;
$data-color-39: #CAA5C2 !default;
$data-color-40: #B887AD !default;
$data-color-41: #7D4F73 !default;
$data-color-42: #53354D !default;

// Event category colors
$color-event-category-informational: #879092 !default;
$color-event-category-warning: #FFD629 !default;
$color-event-category-error: #FC3232 !default;