/**
 * Default Dark Theme Colors
 */

:root[theme='dark'] {
    // Shell
    --color-bg-navbar: var(--color-grey-70);
    --color-bg-navbar-hover: var(--color-grey-55);
    --color-bg-navbar-selected: var(--color-grey-11);
    --color-bg-navbar-selected-hover: var(--color-black);
    --color-bg-header: var(--color-grey-14);
    --color-bg-header-hover: var(--color-grey-60);
    --color-bg-masthead: var(--color-grey-80);
    --color-bg-masthead-hover: var(--color-grey-60);
    --color-bg-masthead-active: var(--color-grey-60);
    --color-outline-masthead: var(--color-white);
    --color-border-navbar-separator: var(--color-grey-30);
    --color-border-masthead-focus: var(--color-white);
    --color-border-navbar-focus: var(--color-white);
    --color-border-navbar-selected: transparent;

    // Surfaces
    --color-bg-panel: var(--color-grey-14);
    --color-bg-container: var(--color-grey-14);
    --color-bg-container-panel: var(--color-grey-90);
    --color-border-container-panel: var(--color-grey-40);
    --color-bg-cmdbar: var(--color-grey-14);
    --color-bg-titlebar: var(--color-grey-90);
    --color-border-panel: var(--color-grey-60);
    --color-border-grid: var(--color-grey-60);
    --shadow-container-panel: -5px 0 15.0px 0 var(--color-black-transparent-primary);
    --shadow-popup-panel: -3px 3px 10px -3px var(--color-black-transparent-primary);
    --shadow-balloon: 0 8px 10px 0 var(--color-black-transparent-tenth);

    // Controls
    --color-bg-blastshield: var(--color-black-transparent-primary);
    --color-bg-balloon: var(--color-grey-90);
    --color-bg-form: var(--color-grey-90);
    --color-bg-table: var(--color-grey-90);
    --color-bg-searchbar-active: var(--color-grey-90);
    --color-bg-searchbar-rest: var(--color-grey-4);
    --color-bg-searchbar-focus: var(--color-white);
    --color-text-searchbar: var(--color-black);
    --color-icon-searchbar-btn: var(--color-white);
    --color-bg-thumbnail: var(--color-text-20);
    --color-icon-thumbnail: var(--color-grey-1);
    --color-icon-tile: var(--color-white);

    // Interactions
    --color-bg-hover: var(--color-grey-60);
    --color-bg-selected: var(--color-grey-01);

    // All Tiles
    --color-border-tile: var(--color-grey-60); // 0.5px border
    --color-border-tile-hover: var(--color-blue-10);

    // Gallery Tiles
    --color-bg-gallery-tile: var(--color-grey-90);
    --color-bg-gallery-tile-default: var(--color-grey-12);
    --color-bg-gallery-tile-blue: var(--color-blue-40);
    --color-bg-gallery-tile-banner: var(--color-black);
    --color-text-gallery-tile-banner: var(--color-white);

    // Dashboard Tiles
    --color-bg-dashboard: var(--color-grey-90);
    --color-tile-symbol: var(--color-white);
    --color-stroke-tile-symbol: var(--color-white);

    // Input Fields
    --color-bg-input-rest: var(--color-grey-14);
    --color-bg-input-hover: var(--color-grey-14);
    --color-bg-input-selected: var(--color-grey-14);
    --color-bg-input-disabled: var(--color-grey-11);

    --color-border-input-rest: var(--color-grey-8);
    --color-border-input-hover: var(--color-text-20);
    --color-border-input-selected: var(--color-blue-10);
    --color-border-input-error: var(--color-status-30);

    --color-text-regular: var(--color-white);
    --color-text-placeholder: var(--color-grey-4);

    // Dropdowns
    --color-dropdown-rest: var(--color-grey-90);
    --color-dropdown-hover: var(--color-grey-90);
    --color-dropdown-focus: var(--color-grey-14);
    --color-dropdown-pressed: var(--color-grey-60);
    --color-dropdown-disabled: var(--color-grey-90);
    --color-border-dropdown-rest: var(--color-blue-10);
    --color-border-dropdown-focus: var(--color-grey-1);
    --color-text-dropdown-disabled: var(--color-text-30);

    // Radio button
    --color-bg-radio-rest: var(--color-grey-14);
    --color-bg-radio-hover: var(--color-grey-14);
    --color-bg-radio-selected: var(--color-grey-14);
    --color-bg-radio-focused: var(--color-grey-14);
    --color-bg-radio-disabled: var(--color-grey-14);
    --color-border-radio-rest: var(--color-white);
    --color-border-radio-hover: var(--color-white);
    --color-border-radio-selected: var(--color-blue-50);
    --color-border-radio-focused: var(--color-white);
    --color-border-radio-disabled: var(--color-text-30);
    --color-center-radio-hover: var(--color-grey-4); //On hover center will reduce to 2px circle
    --color-center-radio-selected: var(--color-white); //On selected center will return to normal size
    --color-center-radio-disabled: var(--color-text-30);

    // Toggle
    --color-bg-toggle-on-rest: var(--color-blue-50);
    --color-bg-toggle-off-rest: var(--color-white);
    --color-bg-toggle-on-hover: var(--color-blue-30);
    --color-bg-toggle-off-hover: var(--color-white);
    --color-bg-toggle-on-focus: var(--color-blue-50);
    --color-bg-toggle-off-focus: var(--color-white);
    --color-bg-toggle-on-disabled: var(--color-grey-40);
    --color-bg-toggle-off-disabled: var(--color-grey-1);
    --color-border-toggle-on-rest: var(--color-blue-50);
    --color-border-toggle-off-rest: var(--color-text-20);
    --color-border-toggle-on-hover: var(--color-blue-30);
    --color-border-toggle-off-hover: var(--color-text-20);
    --color-border-toggle-on-focus: var(--color-white);
    --color-border-toggle-off-focus: var(--color-text-20);
    --color-border-toggle-on-disabled: var(--color-grey-40);
    --color-border-toggle-off-disabled: var(--color-text-30);
    --color-circle-toggle-on-rest: var(--color-white);
    --color-circle-toggle-off-rest: var(--color-grey-12);
    --color-circle-toggle-on-hover: var(--color-white); //Size circle reduce to half
    --color-circle-toggle-off-hover: var(--color-blue-30);
    --color-circle-toggle-on-focus: var(--color-white);
    --color-circle-toggle-off-focus: var(--color-grey-12);
    --color-circle-toggle-on-disabled: var(--color-text-30);
    --color-circle-toggle-off-disabled: var(--color-text-30);

    // Checkbox
    --color-checkmark-checkbox: var(--color-white);
    --color-border-checkbox-hover: var(--color-blue-10);
    --color-bg-checkbox-selected: var(--color-blue-10);

    // General Borders
    --color-border-rest: var(--color-grey-60);
    --color-border-hover: var(--color-blue-10);
    --color-border-focus: var(--color-white);
    --color-border-selected: var(--color-blue-10);
    --color-border-disabled: var(--color-text-30);
    --color-border-error: var(--color-status-30);
    --color-border-controls: var(--color-blue-10);
    --color-outline: var(--color-white);

    // General Texts
    --color-text-rest: var(--color-white);
    --color-text-chevron: var(--color-grey-40);
    --color-text-error: var(--color-status-60);
    --color-text-required: var(--color-status-60);
    --color-text-visited: var(--color-blue-60);
    --color-text-nodata: var(--color-text-20);
    --color-text-disabled: var(--color-text-30);
    --color-text-masthead: var(--color-white);
    --color-text-navbar: var(--color-white);
    --color-text-active: var(--color-white);

    // Buttons
    --color-bg-btn-standard-rest: var(--color-grey-30);
    --color-bg-btn-standard-hover: var(--color-grey-40);
    --color-bg-btn-standard-focus: var(--color-grey-40);
    --color-bg-btn-standard-selected: var(--color-grey-4);
    --color-bg-btn-standard-disabled: var(--color-grey-01);
    --color-text-btn-standard: var(--color-black);
    --color-border-btn-standard: transparent;

    --color-bg-btn-primary-rest: var(--color-blue-10);
    --color-bg-btn-primary-hover: var(--color-blue-20);
    --color-bg-btn-primary-focus: var(--color-blue-20);
    --color-bg-btn-primary-selected: var(--color-blue-30);
    --color-bg-btn-primary-disabled: var(--color-grey-01);
    --color-outline-btn-primary-focus: var(--color-white);
    --color-text-btn-primary: var(--color-white);
    --color-border-btn-primary: transparent;

    --color-bg-btn-negative-rest: var(--color-red-4);
    --color-bg-btn-negative-hover: var(--color-red-5);
    --color-bg-btn-negative-focus: var(--color-red-5);
    --color-bg-btn-negative-selected: var(--color-red-6);
    --color-bg-btn-negative-disabled: var(--color-grey-01);
    --color-outline-btn-negative-focus: var(--color-white);
    --color-text-btn-negative: var(--color-white);
    --color-border-btn-negative: transparent;

    // Hyperlinks
    --color-hyperlink-rest: var(--color-blue-50);
    --color-hyperlink-hover: var(--color-blue-60);
    --color-hyperlink-focus: var(--color-blue-60);
    --color-hyperlink-disabled: var(--color-text-30);

    // Loading
    --color-bg-loader-panel: var(--color-grey-01);
    --color-bg-loader-spinner: var(--color-white);
    --color-border-loader-global-segment: var(--color-blue-10);
    --color-border-loader-global-track: var(--color-grey-40);

    // Upload
    --color-bg-upload: var(--color-grey-80);
    --color-border-upload: var(--color-grey-60);

    // Tabs
    --color-pivot-rest: var(--color-grey-4);
    --color-pivot-hover: var(--color-white);
    --color-pivot-focus: var(--color-white);
    --color-pivot-press: var(--color-grey-1);
    --color-pivot-selected: var(--color-white);
    --color-border-pivot: var(--color-blue-10);
    --color-text-pivot-rest: var(--color-white);
    --color-text-pivot-selected: var(--color-white);

    // Charts
    --color-chart-xy-lines: var(--color-grey-4);
    --color-chart-gap-stroke: var(--color-text-30);

    // Alerts
    --color-bg-alert-info: var(--color-status-10);
    --color-bg-alert-info-close-hover: var(--color-grey-60);
    --color-text-alert-info: var(--color-text-rest);

    --color-bg-alert-warning: var(--color-warn-1);
    --color-bg-alert-warning-close-hover: var(--color-yellow-6);
    --color-text-alert-warning: var(--color-black);
    
    --color-bg-alert-error: var(--color-err-1);
    --color-bg-alert-error-close-hover: var(--color-red-11);
    --color-text-alert-error: var(--color-white);

    // Color picker
    --color-border-colorpicker-in: var(--color-white);
    --color-border-colorpicker-out: var(--color-err-1);

    // Calendar
    --color-bg-calendar-btn-current: var(--color-blue-10);
    --color-bg-calendar-btn-hover: var(--color-grey-60);
    --color-bg-calendar-btn-focus: transparent;
    --color-border-calendar-btn-focus: var(--color-text-20);

    // Data color
    --data-color-1: var(--color-green-1);
    --data-color-2: var(--color-green-2);
    --data-color-3: var(--color-green-3);
    --data-color-4: var(--color-green-4);
    --data-color-5: var(--color-green-5);
    --data-color-6: var(--color-green-6);
    --data-color-7: var(--color-lightgrey-1);
    --data-color-8: var(--color-lightgrey-2);
    --data-color-9: var(--color-lightgrey-3);
    --data-color-10: var(--color-lightgrey-4);
    --data-color-11: var(--color-lightgrey-5);
    --data-color-12: var(--color-lightgrey-6);
    --data-color-13: var(--color-red-1);
    --data-color-14: var(--color-red-2);
    --data-color-15: var(--color-red-3);
    --data-color-16: var(--color-red-4);
    --data-color-17: var(--color-red-5);
    --data-color-18: var(--color-red-6);
    --data-color-19: var(--color-yellow-1);
    --data-color-20: var(--color-yellow-2);
    --data-color-21: var(--color-yellow-3);
    --data-color-22: var(--color-yellow-4);
    --data-color-23: var(--color-yellow-5);
    --data-color-24: var(--color-yellow-6);
    --data-color-25: var(--color-lightblue-1);
    --data-color-26: var(--color-lightblue-2);
    --data-color-27: var(--color-lightblue-3);
    --data-color-28: var(--color-lightblue-4);
    --data-color-29: var(--color-lightblue-5);
    --data-color-30: var(--color-lightblue-6);
    --data-color-31: var(--color-orange-1);
    --data-color-32: var(--color-orange-2);
    --data-color-33: var(--color-orange-3);
    --data-color-34: var(--color-orange-4);
    --data-color-35: var(--color-orange-5);
    --data-color-36: var(--color-orange-6);
    --data-color-37: var(--color-purple-1);
    --data-color-38: var(--color-purple-2);
    --data-color-39: var(--color-purple-3);
    --data-color-40: var(--color-purple-4);
    --data-color-41: var(--color-purple-5);
    --data-color-42: var(--color-purple-6);
}