/** 
 * Default dark theme colors
 */

@import "../color.palette";

// Background colors
$color-bg-block: $color-cool-grey-3 !default;
$color-bg-btn-light: $color-cool-grey-4 !default;
$color-bg-btn-primary-hover: $color-shark !default;
$color-bg-btn-primary-pressed: $color-shark !default;
$color-bg-btn-secondary-default: $color-neutral-secondary-alt-5 !default;
$color-bg-btn-secondary-hover: $color-shark !default;
$color-bg-btn-secondary-pressed: $color-shark !default;
$color-bg-chart: $color-cool-grey-3 !default;
$color-bg-configure-pane-container: $color-cool-grey-3 !default;
$color-bg-content: $color-cool-grey-3 !default;
$color-bg-dashboard-actionbar: $color-cool-grey-2 !default;
$color-bg-default: $color-cool-grey-5 !default;
$color-bg-disabled: $color-cool-grey-8 !default;
$color-bg-field-loading: $color-cool-grey-4 !default;
$color-bg-form: $color-cool-grey-2 !default;
$color-bg-gallery-card-banner: $color-black !default;
$color-bg-gallery-card-blue: $color-blue-4 !default;
$color-bg-gallery-card-red: $color-red-7 !default;
$color-bg-gallery-card-solid: $color-cool-grey-4 !default;
$color-bg-gallery-card-yellow: $color-spicy-mustard !default;
$color-bg-gallery-card: $color-cool-grey-2 !default;
$color-bg-hover: $color-shark !default;
$color-bg-management-list: $color-cool-grey-5 !default;
$color-bg-measurement: $color-cool-grey-4 !default;
$color-bg-navbar: $color-cool-grey-1 !default;
$color-bg-overlay: $color-semi-transparent-black !default;
$color-bg-pane: $color-cool-grey-3 !default;
$color-bg-panel: $color-cool-grey-5 !default;
$color-bg-react-grid-item: $color-cool-grey-2 !default;
$color-bg-searchbar: $color-cool-grey-5 !default;
$color-bg-select-default: $color-cool-grey-4 !default;
$color-bg-selected-hover: $color-shark !default;
$color-bg-separator: $color-cool-grey-4 !default;
$color-bg-tabbed-pane-small: $color-cool-grey-4 !default;
$color-bg-table-status-tick: $color-cool-grey-3 !default;
$color-bg-tile: $color-cool-grey-2 !default;
$color-bg-upload: $color-cool-grey-1 !default;

// Border color
$color-border-active: $color-neutral-tertiary-alt !default;
$color-border-default: transparent !default;
$color-border-disabled: $color-grey-5 !default;
$color-border-gallery-card-default: $color-neutral-primary !default;
$color-border-gallery-card-hover: $color-grey-6 !default;
$color-border-inactive: $color-neutral-secondary-alt-5 !default;
$color-border-searchbox: $color-cool-grey-2 !default;
$color-border-section-separator: $color-cool-grey-3 !default;
$color-border-selected-disabled: $color-cool-grey-5 !default;

// Text color
$color-text-cancel: $color-grey-1 !default;
$color-text-default: $color-white !default;
$color-text-disabled: $color-neutral-secondary-alt-5 !default;
$color-text-gallery-card-content: $color-neutral-tertiary-alt !default;
$color-text-gallery-card-header: $color-white !default;
$color-text-inactive: $color-neutral-tertiary !default;
$color-text-neutral-primary-alt-2: $color-white !default;
$color-text-neutral-primary: $color-white !default;
$color-text-neutral-secondary-alt-3: $color-white !default;
$color-text-neutral-secondary-alt: $color-white !default;
$color-text-neutral-tertiary: $color-white !default;
$color-text-select-option-disabled: $color-neutral-tertiary-alt !default;

// Miscellaneous color
$color-chart-ticks: $color-white !default;
$color-header-accent: $color-cool-grey-1 !default;
$color-header: $color-cool-grey-2 !default;
$color-item-active: $color-cool-grey-5 !default;
$color-item-hover: $color-shark !default;
$color-layout-divider: $color-cool-grey-7 !default;
$color-link-default: $color-blue-5 !default;
$color-link-hover: $color-malibu !default;
$color-loading: $color-white !default;
$color-outline-default: $color-cool-grey-3 !default;
$color-outline-focus: $color-white !default;
$color-picker-border-inner: $color-white !default;
$color-picker-border-outer: transparent !default;
$color-shadow-neutral-tertiary-alt: $color-cool-grey-3 !default;
$color-status-reported-error: $color-red-6 !default;
$color-status-reported-success: $color-true-green !default;
$color-status-syncing: $data-color-4 !default;
$color-stroke-default: $color-cool-grey-2 !default;

// Data color
$data-color-1: #01b8aa !default;
$data-color-2: #6be8dc !default;
$data-color-3: #59cec3 !default;
$data-color-4: #08bca6 !default;
$data-color-5: #0aa58e !default;
$data-color-6: #12937d !default;
$data-color-7: #ffffff !default;
$data-color-8: #f2f2f2 !default;
$data-color-9: #e6e6e6 !default;
$data-color-10: #cccccc !default;
$data-color-11: #b3b3b3 !default;
$data-color-12: #999999 !default;
$data-color-13: #fd625e !default;
$data-color-14: #ff7878 !default;
$data-color-15: #fc5454 !default;
$data-color-16: #fc3232 !default;
$data-color-17: #e81818 !default;
$data-color-18: #b21f1f !default;
$data-color-19: #f2c80f !default;
$data-color-20: #fcdf65 !default;
$data-color-21: #ffd629 !default;
$data-color-22: #ffce00 !default;
$data-color-23: #e5bd13 !default;
$data-color-24: #c9a611 !default;
$data-color-25: #8ad4eb !default;
$data-color-26: #caf8ff !default;
$data-color-27: #b0f8ff !default;
$data-color-28: #73f8ff !default;
$data-color-29: #27e2dd !default;
$data-color-30: #1bb2a7 !default;
$data-color-31: #fe9666 !default;
$data-color-32: #ffcdbb !default;
$data-color-33: #f7a389 !default;
$data-color-34: #f9724e !default;
$data-color-35: #f9724e !default;
$data-color-36: #db220f !default;
$data-color-37: #a66999 !default;
$data-color-38: #efa5e1 !default;
$data-color-39: #ea78d9 !default;
$data-color-40: #e247db !default;
$data-color-41: #d313d3 !default;
$data-color-42: #921e9b !default;

// Event category color
$color-event-category-informational: #CCCCCC !default;
$color-event-category-warning: #FFD629 !default;
$color-event-category-error: #FC3232 !default;