/**
 * Color Palette
 */

 :root {
    // Main Palette Colors
    --color-white: #FFFFFF;
    --color-grey-10: #FAF9F8;
    --color-grey-20: #F3F2F1;
    --color-grey-30: #DADADA;
    --color-grey-40: #C8C8C8;
    --color-grey-50: #3C3C41;
    --color-grey-60: #434343; 
    --color-grey-70: #31373E;
    --color-grey-80: #292D30;
    --color-grey-90: #0D0E0F;
    --color-black: #000000;

    // Accent colors
    --color-blue-10: #136BFB;
    --color-blue-20: #0065D9;
    --color-blue-30: #0053B3;
    --color-blue-40: #00418C;
    --color-blue-50: #60AAFF;
    --color-blue-60: #2F7FDB;
    --color-blue-70: #8DAACB;

    // Status/Alerts
    --color-status-10: #879092;
    --color-status-20: #D58E00;
    --color-status-30: #A50606;
    --color-status-40: #3BB44A;
    --color-status-50: #F2C80F;
    --color-status-60: #FF2828;
    --color-status-70: #89FF98;

    // Text
    --color-text-10: #323130;
    --color-text-20: #666666;
    --color-text-30: #A6A6A6;

    // Semi-transparent Colors
    --color-black-transparent-primary: rgba(var(--color-black), 0.8);
    --color-black-transparent-half: rgba(var(--color-black), 0.5);
    --color-black-transparent-third: rgba(var(--color-black), 0.3);
    --color-black-transparent-tenth: rgba(var(--color-black), 0.1);
    --color-white-transparent-primary: rgba(var(--color-black), 0.8);
    --color-white-transparent-half: rgba(var(--color-white), 0.5);
    --color-white-transparent-third: rgba(var(--color-white), 0.3);
    --color-white-transparent-tenth: rgba(var(--color-white), 0.1);
    --color-transparent: transparent;

    // [Deprecated] Legacy colors
    --color-grey-1: #F2F2F2;
    --color-grey-4: #AEAEAE;
    --color-grey-01: #2D2F33;
    --color-grey-11: #252728;
    --color-grey-12: #212121;
    --color-grey-14: #1A1D1E;
    --color-grey-55: #515151;

    --color-red-4: #FC3232;
    --color-red-5: #E81818;
    --color-red-6: #B21F1F;

    --color-err-1: #D02E00;
    --color-info-1: #DCDCDC;
    --color-warn-1: #FFD629;
 }