/** 
 * Color Palette
 */


// Principal Colors

$color-black: #000000;
$color-grey-1500: #0D0E0F;
$color-grey-1400: #1A1D1E;
$color-grey-1300: #292D30;
$color-grey-1200: #212121;
$color-grey-1100: #252728;
$color-grey-1000: #2D2F33;
$color-grey-900: #31373E;
$color-grey-800: #3F3F3F;
$color-grey-700: #434343;
$color-grey-600: #666666;
$color-grey-500: #A6A6A6;
$color-grey-400: #AEAEAE;
$color-grey-300: #C8C8C8;
$color-grey-200: #DADADA;
$color-grey-100: #F2F2F2;
$color-white: #FFFFFF;


// Chart & Measurement Colors

$color-data-green-100: #01b8aa;
$color-data-green-101: #99E3DD;
$color-data-green-102: #6be8dc;
$color-data-green-103: #67D4CC;
$color-data-green-104: #59cec3;
$color-data-green-105: #34C6BB;
$color-data-green-106: #08bca6;
$color-data-green-107: #0aa58e;
$color-data-green-108: #12937d;
$color-data-green-109: #018A80;
$color-data-green-110: #015C55;
$color-data-grey-200: #374649;
$color-data-grey-201: #FFFFFF;
$color-data-grey-202: #F2F2F2;
$color-data-grey-203: #E6E6E6;
$color-data-grey-204: #CCCCCC;
$color-data-grey-205: #B3B3B3;
$color-data-grey-206: #999999;
$color-data-grey-207: #AFB5B6;
$color-data-grey-208: #879092;
$color-data-grey-209: #5F6B6D;
$color-data-grey-210: #293537;
$color-data-red-300: #FD625E;
$color-data-red-301: #FEC0BF;
$color-data-red-302: #FEA19E;
$color-data-red-303: #FD817E;
$color-data-red-304: #fd625e;
$color-data-red-305: #ff7878;
$color-data-red-306: #fc5454;
$color-data-red-307: #fc3232;
$color-data-red-308: #e81818;
$color-data-red-309: #BE4A47;
$color-data-red-310: #b21f1f;
$color-data-yellow-400: #F2C80F;
$color-data-yellow-401: #FAE99F;
$color-data-yellow-402: #F7DE6F;
$color-data-yellow-403: #fcdf65;
$color-data-yellow-404: #FFD629;
$color-data-yellow-405: #F5D33F;
$color-data-yellow-406: #ffce00;
$color-data-yellow-407: #e5bd13;
$color-data-yellow-408: #c9a611;
$color-data-yellow-409: #B6960B;
$color-data-yellow-410: #796408;
$color-data-lightblue-600: #8AD4EB;
$color-data-lightblue-601: #caf8ff;
$color-data-lightblue-602: #b0f8ff;
$color-data-lightblue-603: #D0EEF7;
$color-data-lightblue-604: #B9E5F3;
$color-data-lightblue-605: #B7DDE9;
$color-data-lightblue-606: #A1DDEF;
$color-data-lightblue-607: #8BC5D7;
$color-data-lightblue-608: #689FB0;
$color-data-lightblue-609: #456A76;
$color-data-lightblue-610: #17323B;
$color-data-orange-700: #FE9666;
$color-data-orange-701: #ffcdbb;
$color-data-orange-702: #FFD5C2;
$color-data-orange-703: #FEC0A3;
$color-data-orange-704: #FEAB85;
$color-data-orange-705: #f7a389;
$color-data-orange-706: #F98855;
$color-data-orange-707: #f9724e;
$color-data-orange-708: #BF714D;
$color-data-orange-709: #A47159;
$color-data-orange-710: #7F4B33;
$color-data-purple-800: #A66999;
$color-data-purple-801: #CAA5C2;
$color-data-purple-802: #B887AD;
$color-data-purple-803: #efa5e1;
$color-data-purple-804: #ea78d9;
$color-data-purple-805: #e247db;
$color-data-purple-806: #DBC3D6;
$color-data-purple-807: #d313d3;
$color-data-purple-808: #921e9b;
$color-data-purple-809: #7D4F73;
$color-data-purple-810: #53354D;


// Alert Colors

$color-warning-100: #FFD629;
$color-warning-200: #F2C80F;
$color-warning-300: #D58E00;
$color-error-local-100: #FF2828;
$color-error-local-200: #A50606;
$color-error-global-100: #D02E00;
$color-information-100: #DCDCDC;
$color-information-200: #879092;
$color-success-100: #3BB44A;
$color-success-200: #89FF98;


// Input Control Colors

$color-blue-100: #136BFB;
$color-blue-200: #0065D9;
$color-blue-300: #0053B3;
$color-blue-400: #00418C;
$color-blue-500: #60AAFF;
$color-blue-600: #2F7FDB;
$color-blue-700: #A1AAB6;
$color-blue-800: #DEECF9;


// Red Colors

$color-red-100: #b21f1f;
$color-red-200: #e81818;
$color-red-300: #fc3232;


// Semi-transparent Colors

$color-black-transparent-primary: rgba($color-black, 0.8);
$color-black-transparent-half: rgba($color-black, 0.5);
$color-black-transparent-third: rgba($color-black,0.33);