/** 
 * Color Palette
 */

// primary colors
$color-theme-dark: #005a9e !default;
$color-theme-primary: #0078d6 !default;
$color-theme-primary-alt: #4ba0e4 !default;
$color-theme-light: #b3d6f2 !default;
$color-theme-lighter: #deecf9 !default;
$color-theme-error: #d02e00 !default;

// base colors
$color-white: #fff !default;
$color-red: #e81123 !default;
$color-green: #107c10 !default;
$color-orange: #ff8c00 !default;
$color-black: #000 !default;

$color-true-red: #f00 !default;
$color-true-orange: #fa0 !default;
$color-true-green: #0f0 !default;

$data-color-4: #f2c80f !default;

// primary - grayscale
$color-neutral-primary: #333333 !default;
$color-neutral-primary-alt-2: #212121 !default;
$color-neutral-primary-alt: #444444 !default;
$color-neutral-secondary: #3c3c3c !default;
$color-neutral-secondary-alt: #666 !default;
$color-neutral-secondary-alt-2: #515151 !default;
$color-neutral-secondary-alt-3: #4a4a4a !default;
$color-neutral-secondary-alt-4: #767676 !default;
$color-neutral-secondary-alt-5: #888 !default;
$color-neutral-tertiary: #a6a6a6 !default;
$color-neutral-tertiary-2: #bcbcbc !default;
$color-neutral-tertiary-alt: #c8c8c8 !default;
$color-neutral-tertiary-alt-2: #dcdcdc !default;
$color-neutral-light: #eaeaea !default;
$color-neutral-lighter: #f4f4f4 !default;
$color-neutral-lighter-alt: #f8f8f8 !default;

// primary - alt
$color-cool-grey-1: #1f2328 !default;
$color-cool-grey-2: #31373e !default;
$color-cool-grey-3: #3d4147 !default;
$color-cool-grey-4: #4b5157 !default;
$color-cool-grey-5: #62666c !default;
$color-cool-grey-6: #414953 !default;
$color-cool-grey-7: #7a7a7a !default;
$color-cool-grey-8: #4a5156 !default;

$color-shark: #1b1e22 !default;

$color-grey-1: #999 !default;
$color-grey-2: #a1a1a1 !default;
$color-grey-3: #808080 !default;
$color-grey-4: #6f6f6f !default;
$color-grey-5: #6E6F71 !default;
$color-grey-6: #929293 !default;

$color-light-grey-1: #ccc !default;
$color-light-grey-2: #cbcbcb !default;
$color-light-grey-4: #ddd !default;
$color-light-grey-5: #eee !default;
$color-pale-yellow: #f4f2bd !default;

$color-blue-1: #1a37d3 !default;
$color-blue-2: #3062d6 !default;
$color-blue-3: #0078d6 !default;
$color-blue-4: #0e447a !default;
$color-blue-5: #219DFC !default;

$color-malibu: #5fc2ff !default;

$color-pale-blue: #d0e6f7 !default;
$color-dark-lavender: #b9c3d7 !default;

$color-yellow-1: #ffe294 !default;
$color-yellow-2: #DCB303 !default;
$color-yellow-3: #f9e385 !default;
$color-yellow-4: #df0 !default;

$color-spicy-mustard: #826d11 !default;
$color-goldenrod: #daa520 !default;

$color-red-1: $color-red !default;
$color-red-2: #ef4810 !default;
$color-red-3: #FF0039 !default;
$color-red-4: #cc002e !default;
$color-red-5: #d02e00 !default;
$color-red-6: #ff6464 !default;
$color-red-7: #890e0e !default;

$color-green-1: $color-green !default;
$color-green-2: $color-true-green !default;
$color-green-3: #3bb44a !default;

// shared colors
$color-semi-transparent-black: rgba($color-black, 0.8) !default;
$color-half-opacity-black: rgba($color-black, 0.5) !default;
$color-third-opacity-black: rgba($color-black,0.32) !default;
$color-half-opacity-neutral-secondary-alt: rgba($color-neutral-secondary-alt-4, 0.5) !default;

$color-bg-addon: transparent !default;
$color-bg-alert-error: $color-red-5 !default;
$color-bg-alert-info: $color-neutral-tertiary-alt-2 !default;
$color-bg-alert-warning: $color-yellow-3 !default;
$color-bg-balloon: $color-neutral-primary !default;
$color-bg-blastshield: $color-half-opacity-black !default;
$color-bg-btn-danger-default: $color-red-3 !default;
$color-bg-btn-danger-hover: $color-red-4 !default;
$color-bg-btn-danger-pressed: $color-red-4 !default;
$color-bg-btn-inline: $color-light-grey-4 !default;
$color-bg-btn-primary-default: $color-theme-primary !default;
$color-bg-btn-primary-disabled: $color-blue-3 !default;
$color-bg-builder-icon-active-default: $color-theme-primary !default;
$color-bg-dark: $color-black !default;
$color-bg-masthead-hover: $color-cool-grey-3 !default;
$color-bg-masthead: $color-black !default;
$color-bg-navbar-active: $color-neutral-primary-alt !default;
$color-bg-pressed: $color-theme-primary-alt !default;
$color-bg-search-facet: $color-theme-primary !default;
$color-bg-selected-disabled: $color-neutral-tertiary !default;
$color-bg-selected: $color-theme-primary-alt !default;
$color-bg-sidebar-active: $color-cool-grey-5 !default;
$color-bg-sidebar: $color-cool-grey-6 !default;
$color-bg-subheader-action-menu-active: $color-light-grey-5 !default;
$color-bg-subheader-builder: $color-theme-dark !default;
$color-bg-table-status-tick-green: $color-green !default;
$color-bg-table-status-tick-organge: $color-orange !default;
$color-bg-thumbnail-user: $color-cool-grey-5 !default;
$color-bg-design-mode: $color-theme-primary !default;
$color-border-context-menu: $color-light-grey-1 !default;
$color-border-dropdown: $color-light-grey-1 !default;
$color-border-editable-header-input-hover: $color-neutral-tertiary !default;
$color-border-error: $color-theme-error !default;
$color-border-inactive: $color-neutral-tertiary-alt !default;
$color-border-masthead-toolbar: $color-light-grey-4 !default;
$color-border-masthead: $color-cool-grey-4 !default;
$color-border-searchbar: none !default;
$color-border-selected-hover: $color-theme-dark !default;
$color-border-selected: $color-theme-primary !default;
$color-border-subheader-action-menu: $color-light-grey-4 !default;
$color-border-table-header: $color-light-grey-4 !default;
$color-border-tooltip: $color-neutral-secondary-alt !default;
$color-disabled-light: $color-light-grey-1 !default;
$color-disabled: $color-cool-grey-5 !default;
$color-chart-multiple-events: $color-neutral-tertiary !default;
$color-chart-multi-state-pattern: $color-neutral-secondary-alt !default;
$color-grid-hover: $color-pale-blue !default;
$color-grid-selected: $color-dark-lavender !default;
$color-grid-status-default: $color-light-grey-2 !default;
$color-grid-status-green: $color-green !default;
$color-grid-status-orange : $color-orange !default;
$color-guidance: $color-pale-yellow !default;
$color-header-disabled: $color-neutral-light !default;
$color-icon-placeholder: $color-goldenrod !default;
$color-link-disabled: $color-neutral-tertiary !default;
$color-link-pressed: $color-blue-1 !default;
$color-link-visited: $color-blue-2 !default;
$color-link-design-mode: $color-theme-light !default;
$color-link-design-mode-hover: $color-malibu !default;
$color-nav-gradient: $color-semi-transparent-black !default;
$color-shadow-gradient-pane: $color-half-opacity-neutral-secondary-alt !default;
$color-shadow-gradient: $color-semi-transparent-black !default;
$color-standard-shadow: $color-third-opacity-black !default;
$color-stroke-gap: $color-neutral-tertiary !default;
$color-symbol-fill: $color-white !default;
$color-symbol-stroke: $color-white !default;
$color-text-alert: $color-neutral-primary !default;
$color-text-alpha: $color-true-orange !default;
$color-text-beta: $color-yellow-4 !default;
$color-text-bright: $color-white !default;
$color-text-chevron: $color-neutral-tertiary !default;
$color-text-dark: $color-black !default;
$color-text-error: $color-theme-error !default;
$color-text-gallery-card-banner: $color-white !default;
$color-text-hover: $color-theme-primary-alt !default;
$color-text-icon-placeholder: $color-grey-3 !default;
$color-text-init: $color-true-red !default;
$color-text-label: $color-cool-grey-2 !default;
$color-text-link-disabled: $color-neutral-secondary-alt-5 !default;
$color-text-link: $color-theme-primary !default;
$color-text-masthead-sub-label: $color-light-grey-2 !default;
$color-text-placeholder: $color-neutral-tertiary !default;
$color-text-rc: $color-true-green !default;
$color-text-required: $color-theme-error !default;
$color-text-subtitle: $color-cool-grey-5 !default;
$color-text-visited: $color-blue-2 !default;
$color-theme-error: $color-red-6 !default;
$color-track-border: $color-theme-primary !default;