/**
 * Normalize
 */

@import '~normalize.css/normalize';
@import "colors";
@import "typography";
@import "constants";
@import "mixins";

:global {
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
  }

  * {
    @include box-sizing(border-box);
  }

  *:before,
  *:after {
    @include box-sizing(border-box);
  }

  // Reset fonts for relevant elements
  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  // Headings
  // -------------------------

  .hero {
    font-family: var(--font-family-light);
    font-size: var(--font-size-hero);
    line-height: var(--line-height-hero);
    font-weight: var(--font-weight-hero);
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: var(--font-weight-headings);
  }

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-top: ($gutter-small / 2);
    margin-bottom: ($gutter-small / 2);

    small,
    .small {
      font-size: 65%;
    }
  }

  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: ($gutter-small / 2);
    margin-bottom: ($gutter-small / 2);

    small,
    .small {
      font-size: 75%;
    }
  }

  h1, .h1 { 
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
  }

  h2, .h2 { 
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
  }

  h3, .h3 { 
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
  }

  h4, .h4 { 
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
  }


  // Body text
  // -------------------------

  p {
    margin: 0 0 $gutter-normal / 2;
  }

  label {
    font-weight: normal;
  }

  a {
    text-decoration: none;
    color: var(--color-hyperlink-rest);

    &:hover {
      color: var(--color-hyperlink-hover);
    }

    &:focus {
      color: var(--color-hyperlink-focus);
    }
  }

  // Unordered and Ordered lists
  ul,
  ol {
    margin-top: 0;
    margin-bottom: $gutter-normal / 2;

    ul,
    ol {
        margin-bottom: 0;
    }
  }

  // Description Lists
  dl {
    margin-top: 0; // Remove browser default
    margin-bottom: $gutter-normal;
  }

  dt,
  dd {
    line-height: var(--line-height-default);
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0; // Undo browser default
  }

  // define some common css classes that everyone needs to use. These
  // need to be declared as global so they're not mangled:
  .inline-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .hidden {
    display: none !important;
  }

  ::selection {
      color: var(--color-white);
      background: var(--color-blue-10) !important;
  }
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
