/**
 * Normalize
 */

@import "normalize.vendor";
@import "colors";
@import "typography";
@import "constants";
@import "mixins";

:global {
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    line-height: var(--line-height-base);
  }

  * {
    @include box-sizing(border-box);
  }

  *:before,
  *:after {
    @include box-sizing(border-box);
  }

  // Reset fonts for relevant elements
  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  // override bootstrap's vertical margins for headings since we override
  // heading sizes in overrides.scss
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-top: $gutter-small / 2;
    margin-bottom: $gutter-small / 2;
  }

  // Headings
  // -------------------------

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-family-default);
    font-weight: var(--headings-font-weight);
    line-height: var(--headings-line-height);

    small,
    .small {
      font-weight: normal;
      line-height: 1;
    }
  }

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-top: ($gutter-small / 2);
    margin-bottom: ($gutter-small / 2);

    small,
    .small {
      font-size: 65%;
    }
  }

  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: ($gutter-small / 2);
    margin-bottom: ($gutter-small / 2);

    small,
    .small {
      font-size: 75%;
    }
  }

  h1, .h1 { font-size: var(--font-size-h1) }
  h2, .h2 { font-size: var(--font-size-h2) }
  h3, .h3 { font-size: var(--font-size-h3) }
  h4, .h4 { font-size: var(--font-size-h4) }


  // Body text
  // -------------------------

  p {
    margin: 0 0 calc(var(--line-height-computed) / 2);
  }

  label {
    font-weight: normal;
  }

  a {
    text-decoration: none;
  }

  // Unordered and Ordered lists
  ul,
  ol {
    margin-top: 0;
    margin-bottom: calc(var(--line-height-computed) / 2);

    ul,
    ol {
        margin-bottom: 0;
    }
  }

  // Description Lists
  dl {
    margin-top: 0; // Remove browser default
    margin-bottom: var(--line-height-computed);
  }

  dt,
  dd {
    line-height: var(--line-height-base);
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0; // Undo browser default
  }

  // define some common css classes that everyone needs to use. These
  // need to be declared as global so they're not mangled:
  .inline-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .hidden {
    display: none !important;
  }

  ::selection {
      color: var(--color-white);
      background: var(--color-blue-10) !important;
  }
}
