/**
 * Typography constants
 */

:root {
    --font-size-h1: 36px; 
    --font-size-h2: 24px; 
    --font-size-h3: 18px;
    --font-size-h4: 18px; 
    --font-size-h5: 16px; 
    --font-size-default: 14px;
    --font-size-small: 12px;
    --font-size-xsmall: 10px;

    --font-family-default: Segoe UI Regular, Segoe UI, Segoe WP, Tahoma, Arial, sans-serif;
    --font-family-light: Segoe UI Semilight, Segoe UI, Segoe WP, Tahoma, Arial, sans-serif;
    --font-family-din-regular: DIN-Regular, var(--font-family-default);
    
    // Icons
    --icon-font-family: "icons";
    --icon-size-base: 16px;
    --icon-size-xsmall: var(--icon-size-base);
    --icon-size-small: calc(1 * var(--icon-size-base));
    --icon-size-medium: calc(2 * var(--icon-size-base));
    --icon-size-large: calc(3 * var(--icon-size-base));
    --icon-size-xlarge: calc(4 * var(--icon-size-base));
    --icon-size-xxlarge: calc(5 * var(--icon-size-base));

    // Computed line-height (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
    --line-height-computed: 20px;
}
